In [1]:
import pandas as pd
import os

from eval import evaluate_with_llm

In [2]:
# List all files in the results folder
results_folder = './results'
files_in_results = os.listdir(results_folder)
print("Files in the results folder:")
for file in files_in_results:
    print(file)

Files in the results folder:
results_gpt-3.5-turbo-0125_0.0.csv
results_togethercomputer_CodeLlama-34b-Instruct_0.0.csv
results_meta-llama_Llama-3-70b-chat-hf_0.0.csv
results_mistralai_Mixtral-8x7B-Instruct-v0.1_0.0.csv

In [3]:
# Import each CSV file into a pandas DataFrame and store them in a dictionary
dataframes = {}
for file in files_in_results:
    if file.endswith('.csv'):
        file_path = os.path.join(results_folder, file)
        dataframes[file.replace('.csv', '').replace('results_', '')] = pd.read_csv(file_path)

In [4]:
dataframes['gpt-3.5-turbo-0125_0.0'].head()

,question,answer,context,result,is_correct,model_name,correct,prediction,error,temperature
0,How many heads of the departments are older th...,SELECT COUNT(*) FROM head WHERE age > 56,CREATE TABLE head (age INTEGER),SELECT COUNT(*) FROM head WHERE age > 56,True,gpt-3.5-turbo-0125,_col_0\n 3,_col_0\n 3,NaN,0.0
1,"List the name, born state and age of the heads...","SELECT name, born_state, age FROM head ORDER B...","CREATE TABLE head (name VARCHAR, born_state VA...","SELECT name, born_state, age FROM head ORDER B...",True,gpt-3.5-turbo-0125,name born_state age\nEmil Florida 35\nJane...,name born_state age\nEmil Florida 35\nJane...,NaN,0.0
2,"List the creation year, name and budget of eac...","SELECT creation, name, budget_in_billions FROM...","CREATE TABLE department (creation VARCHAR, nam...","SELECT creation, name, budget_in_billions FROM...",True,gpt-3.5-turbo-0125,creation name budget_in_billions\n 2005 Fin...,creation name budget_in_billions\n 2005 Fin...,NaN,0.0
3,What are the maximum and minimum budget of the...,"SELECT MAX(budget_in_billions), MIN(budget_in_...",CREATE TABLE department (budget_in_billions IN...,SELECT MAX(budget_in_billions) AS maximum_budg...,True,gpt-3.5-turbo-0125,_col_0 _col_1\n 5 1,maximum_budget minimum_budget\n 5 ...,NaN,0.0
4,What is the average number of employees of the...,SELECT AVG(num_employees) FROM department WHER...,CREATE TABLE department (num_employees INTEGER...,SELECT AVG(num_employees) FROM department WHER...,True,gpt-3.5-turbo-0125,_col_0\n63.333,_col_0\n63.333,NaN,0.0

In [5]:
# Calculate the mean of the 'is_correct' column for each DataFrame and store the results in a dictionary
results = {}
for file_name, df in dataframes.items():
    results[file_name] = df['is_correct'].mean()

In [6]:
a = dataframes['gpt-3.5-turbo-0125_0.0']

In [7]:
from tqdm import tqdm

# Add a new column to store the evaluation results
a['llm_evaluation'] = None

# Options counter
counter = {'A': 0, 'B': 0, 'C': 0}

# Iterate over each row in DataFrame 'a' using tqdm for progress bar
pbar = tqdm(a.iterrows(), total=a.shape[0], desc="Evaluating with LLM")
for index, row in pbar:
    # Execute the evaluation with LLM
    evaluation_result = evaluate_with_llm(answer=row['answer'], prediction_query=row['prediction'], context=row['question'], question=row['question'])
    
    # Store the result in the new column
    a.at[index, 'llm_evaluation'] = evaluation_result

    print(evaluation_result)
    for sel in evaluation_result:
        counter[sel] += 1
    pbar.set_description(f"A: {counter['A']/((index+1)*3)}, B: {counter['B']/((index+1)*3)}, C: {counter['C']/((index+1)*3)}")

# Display the updated DataFrame
a.head()

Evaluating with LLM:   0%|          | 0/328 [00:00<?, ?it/s]

A: 0.0, B: 0.0, C: 1.0:   0%|          | 1/328 [00:04<25:25,  4.66s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   1%|          | 2/328 [00:08<22:51,  4.21s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   1%|          | 3/328 [00:13<25:29,  4.70s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   1%|          | 4/328 [00:17<23:18,  4.32s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   2%|▏         | 5/328 [00:21<22:53,  4.25s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   2%|▏         | 6/328 [00:25<22:15,  4.15s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   2%|▏         | 7/328 [00:29<21:22,  4.00s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   2%|▏         | 8/328 [00:33<20:47,  3.90s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   3%|▎         | 9/328 [00:36<20:04,  3.78s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   3%|▎         | 10/328 [00:41<21:59,  4.15s/it]

['C', 'C', 'C']

A: 0.0, B: 0.0, C: 1.0:   3%|▎         | 10/328 [00:42<22:36,  4.27s/it]

KeyboardInterrupt: